@media (min-width: 660px) {
    body {
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(rgb(0, 255, 115), rgb(0, 255, 149));
    }
    .cabecalho {
        align-items: center;
        display: flex;
        margin-top: 1.6rem;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
    .cabecalho__titulo {
        font-size: 45px;
        font-weight: bold;
        font-family: fantasy;
    }
    .cabecalho__paragrafo {
        margin-top: 2.0rem;
        font-size: 25px;
        font-family: cursive;
        font-weight: 800;
    }
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .formlario {
        margin-top: 20px;
        justify-content: space-around;
    }
    .forulario__ord {
        display: block;
        text-align: right;
        justify-content: center;
        flex-direction: column;
    }
    .formulario__lista {
        margin-bottom: 35px;
    }
    .formulario__lista-input {
        width: 300px;
        margin-left: 20px;
    }
    .bot {
        display: flex;
        justify-content: center;
    }
    #botao {
        background-color: rgb(0, 0, 0);
        color: aliceblue;
        border-radius: 15px;
        margin-top: 40px;
        height: 34px;
        width: 200px;
    }
    #resposta {
        margin-top: 2.5rem;
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        text-align: center;
    }
    #distancia__estimada {
        margin-top: 10px;
        text-align: center;
    }
    .formulario__distancia-label {
        display: block;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .formulario__distancia-input {
        width: 300px;
        text-align: center;
    }
    .titulo_lista {
        padding: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }
    .formulario__lista-label {
        font-weight: bold;
    }
    footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        height: 30px;
    }
    .footer {
        font-size: 15px;
    }
}